@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-rgb: 0, 0, 0;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
}

.platform-icon {
  filter: drop-shadow(0 0 0.5rem rgba(255, 255, 255, 0.2));
}

.platform-icon:hover {
  filter: drop-shadow(0 0 0.75rem rgba(255, 255, 255, 0.4));
}
